.page {
  background: center / cover fixed url("/images/cover-image-dark.png");
  font-family: var(--main-font-family);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  justify-items: end;
  padding: var(--main-gap);
  min-block-size: 668px;
  block-size: 100vh;
  font-size: var(--main-text-size);
}

@supports (block-size: 100dvb) {
  .header {
    block-size: 100dvb;
  }
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-block-start: 1px solid var(--nav-color);
  border-inline-end: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  border-block-end: 1px solid var(--nav-color);
  border-inline-start: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.header__rec {
  position: absolute;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: calc(var(--main-gap) + 2px);
  color: var(--nav-color);
  text-transform: uppercase;
  font-size: var
